<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Product Filter & Sorting</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/gumby/2.6.0/css/gumby.min.css'>
<link rel="stylesheet" href="static/style.css">

<style>
</style>

</head>
<body>
<div class="row">
	
	<div class="push_two two columns">
		<nav>
				<button cs-filter="dd"><b>Filter :</b></button>
				<span>
					<button class="btn-active" cs-filter="*">All</button>
					<button cs-filter="user">User</button>
					<button cs-filter="org">Organisation</button>
					<!--<button cs-filter="jeans">Jeans</button>-->
				</span>
				<Br/>
				<Br/>
				<button cs-sort="xx"><b>Sort By:</b></button>
				<span>
					<button cs-sort="score">Score</button>
					<button cs-sort="follower">Follower</button>
					<button cs-sort="repo">Repositories</button>
				</span>
		</nav>
	</div>
	<div class="eight columns">
		
		<ul>
			{% for d in results%}
			<a href={{d.url}}>
			<li class="items" cs-category={{d.cat}}>
				<div class="items-img-holder"><img src={{d.avatar_url}} height="100" alt="" /></div>
				<center style="font-size:10px">
					<span class="name">Name: {{d.name}}</span><Br/>
					<span class="repo">Num Repo: {{d.repo}}</span><Br/>
					<span class="score">PR Score: {{d.score}}</span><Br/>
					<span class="follower">Num Followers: {{d.follower}}</span>
				</center>
			</li>
			</a>
			{%endfor%}
		</ul>
	</div>
</div>

<!-- partial -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="static/script.js"></script>

</body>
</html>