<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Hierarchy</title>
  <link rel="stylesheet" href="static/treestyle.css">
  <link rel="stylesheet" href="static/navstyle.css">
<script src="https://use.fontawesome.com/3903c9d7fd.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
  <style>
  body {
  background: #35485a;
}
  </style>
</head>
<body >
<ul class="menu">
    <li class="menu_list">
        <span class="front fas fa-home"></span>
        <a href="#" class="side">home</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-info"></span>
        <a href="{{ url_for('chartL') }}"" class="side">Language</a>
    </li>
	<li class="menu_list">
        <span class="front fas fa-info"></span>
        <a href="{{ url_for('chartLc') }}"" class="side">License</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-briefcase"></span>
        <a href="{{ url_for('recomend') }}" class="side">Recomend</a>
    </li>
    <li class="menu_list">
        <span class="front fas fa-tree"></span>
        <a href="{{ url_for('tree') }}" class="side">Tree</a>
    </li>
</ul>
<!-- partial:index.partial.html -->
<center style="margin-top:-30%">
  <div id="d3Hierarchy"></div>
</center>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
<script  src="static/treescript.js"></script>

</body>
</html>